@charset "utf-8";
*,*::before,*::after {
	box-sizing: border-box;
}
html,body {
	margin: 0px;
	padding: 0px;
	line-height: 1;
}
html {
	font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6,p,small,
ul,ol,li,dl,dt,dd,
figure,figcaption,
header,footer,nav,main,article,section,aside,div,
iframe,video,audio {
	margin: 0px;
	padding: 0px;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,small,
figure,figcaption,
header,footer,nav,main,article,section,aside,div,
iframe {
	display: block;
}
ul,ol,li {
	list-style-type: none;
}
a {
	color: #000;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
.cf::after {
	content: "";
	display: block;
	clear: both;
}